a,p,h1,h2,h3, ul, li{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

main {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav ul {
  display: flex;
}

img {
  max-width: 100%;
}

p {
  font-size: 15px;
}

a {
}
footer {
}
