a,
p,
h1,
h2,
h3,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: black;
}

html {
  font-size: 20px;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  background-color: white;
  border-radius: 0.16rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: filter 0.1s ease;
}

a:hover {
  filter: brightness(0.8);
}

p {
  line-height: 1.32rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0;
  display: grid;
  gap: 3rem;
  justify-items: center;
  margin-top: 3rem;
}

header {
  display: grid;
  justify-items: center;
}

header img {
  margin-bottom: 3rem;
}

nav ul {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

nav a {
  border: 0.14rem solid transparent;
}

nav a:hover {
  filter: brightness(1);
  border: rgb(255, 30, 0) solid 0.14rem;
}

main {
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main a {
  background-color: rgb(255, 30, 0);
  color: #f7f7f7;
}

footer {
  width: 100%;
  text-align: center;
  background-color: white;
  padding: 2rem 0;
}

#introducao {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  justify-items: right;
  align-content: center;
  padding: 2rem;
  background-color: white;
  text-align: right;
}

#introducao::after {
  content: "";
  width: 3rem;
  height: 0.16rem;
  position: absolute;
  top: 1.8rem;
  right: -1.5rem;
  background-color: rgb(255, 30, 0);
}

#vantagens-bikcraft {
  background-image: url("/03-bikcraft/img/onda.svg");
  background-size: auto;
  background-repeat: repeat;
  background-position-x: 0;
  font-size: 3.25rem;
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  display: grid;
  align-self: center;
  text-align: end;
  padding: 2rem;
}

#vantagens {
  display: grid;
  align-content: center;
  background-color: white;
  padding: 1.27rem;
}

.vantagem {
  display: grid;
  gap: 0.5rem 1rem;
  position: relative;
  grid-template-columns: auto 1fr;
  margin: 0.68rem 2.5rem;
  padding: 0.5rem;
}

.vantagem p {
  grid-column: 2;
}

.vantagem:nth-child(2n + 1) {
  background-color: #f7f7f7;
  border-radius: 0.16rem;
}

.vantagem:hover::before {
  display: inline-block;
  content: "";
  background-color: rgb(255, 30, 0);
  width: 0.2rem;
  height: 100%;
  position: absolute;
}
